{{template "_base.html" .}}

{{define "title"}}
  Wakizashi Login
{{end}}

{{define "body"}}


{{block "menu_top" .}} {{end}}


<div class="columns is-fullheight">
  <div id="sidebar" class="column is-2 is-sidebar-menu is-hidden-mobile">
  </div>

  <div class="column is-main-content">

	<br><br><br>

	<div id="login" class="columns is-mobile is-centered">
	  <div class="column is-half">

		<h1 class="subtitle">Login</h1>
		<form v-on:submit.prevent>
	  
		  <div class="field">
			<label class="label">E-mail</label>
			<div class="control">
			  <input class="input" type="email" placeholder="E-mail" v-model="email">
			</div>
			<p class="help">Den e-mail adresse du er oprettet med i systemet.</p>
		  </div>

		  <div class="field">
			<label class="label">Adgangskode</label>
			<div class="control">
			  <input class="input" type="password" placeholder="Adgangskode" v-model="password">
			</div>
			<p class="help">Din adgangskode.</p>
		  </div>

		  <div class="field is-grouped">
			<div class="control">
			  <button type="submit" class="button is-orange" v-bind:disabled="isLoginDisabled" v-on:click="tryLogin">Login</button>
			</div>
			<div class="control">
			  <button type="button" class="button is-boring" v-bind:disabled="isForgotDisabled" v-on:click="tryForgot">Glemt adgangskode</button>
			</div>
		  </div>

		</form>

	  </div>
	</div>

  </div>
</div>


<script>
  
      var login_vue = new Vue({
          delimiters: ['${', '}'],
          el: '#login',
		  data: {
			  email:"",
			  password:"",
		  },
		  computed: {
			  isLoginDisabled () {
				  return ((this.email.indexOf("@") == -1) || (this.email.indexOf(".") == -1) || (this.email.indexOf(" ") !== -1) || (this.password.length<5)) 			  },
			  isForgotDisabled () {
				  return ((this.email.indexOf("@") == -1) || (this.email.indexOf(".") == -1) || (this.email.indexOf(" ") !== -1) || (this.password.length>0)) 			  }
		  },
		  methods: {
			  tryLogin () {
	//			  console.log("login");
				  post("/aviva/login/authenticate",{"email":this.email,"password":this.password},function(x) {
					  window.x=x;
					  console.log(x);
					  if (x["Status"]=="OK") {
						  console.log("OK");
						  window.location.href=x["Data"]["Goto"];
					  }
//					  window.location.reload();
				  }, function (y) {
					  alert(y);
				  });
				  return false;
			  },
			  tryForgot () {
				  console.log("forgot");
				  return false;
			  }
		  }
		  
        })
	  
</script>		


{{end}}
