{{template "_base.html" .}}

{{define "title"}}
  TEST | {{.current.Title}}
{{end}}

{{define "body"}}

    <div class="container">


        <nav class="navbar" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a class="navbar-item" href="/">
              <img src="/theme_assets/img/logo.svg" width="200" height="56">
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>

          <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
              <a href="{{.pages.AbsSlug}}" class="navbar-item">
                {{.pages.Title}}
              </a>

              {{range .pages.Children}}
              {{ if .Children}}

              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">{{.Title}}</a>

                <div class="navbar-dropdown">
                    <a href="{{.AbsSlug}}" class="navbar-item">{{.Title}}</a>
                    {{range .Children}}
                        <a href="{{.AbsSlug}}" class="navbar-item">{{.Title}}</a>
                  {{end}}
                </div>
              </div>

              {{ else }}
              <a class="navbar-item">{{.Title}}</a>
              {{end}}
              {{end}}


            </div>

            <div class="navbar-end">
              <div class="navbar-item">

			  {{if .user}}
   			  <a href="/aviva" class="navbar-item">
				Aviva
			  </a>
			  {{ end }}

              </div>
            </div>
          </div>
        </nav>


    <div id="bct">
          {{.current.BCT }}
    </div>

</div>
	
<div class="columns" id="title">
  <div class="column">
    <div class="container">
	
      <h1 class="title is-3">{{.current.Title}}</h1>
	  </div>
  </div>
</div>

    <div class="container">
	  
	  <div class="columns">
		<div class="column is-half">
		  {{range .current.ContentForPosition "a"}}
		  <article>
          <h2 class="subtitle is-5">{{.Content.Title}}</h2>
          {{.Content.Content}}
		  {{if .Content.ImageUrl}}
		  <figure class="image is-3by2">
		    <img src="{{.Content.ImageUrl}}">
			<div class="is-overlay">
			  <div class="image-text">
				{{.Content.ImageText}}
   			  </div>
			</div>
		  </figure>
		  {{end}}





		  
		  {{if .Content.Children}}
		  <div id="tab_app_{{.Content.Id}}">
			
		  <div class="tabs">
			<ul>
			  <li v-for="(c,index) in childList" :key="c.id" v-on:click="tab_click" v-bind:class="{ 'is-active': c.visible }">
				<a v-bind:id="c.id">${c.title}</a></li>
			</ul>
		  </div>

		  <div  v-for="(c,index) in childList" class="box" v-if="c.visible">
				${c.content}
		  </div>
			  
		  </div>


    <script>
        var tab_app = new Vue({
          delimiters: ['${', '}'],
          el: '#tab_app_{{.Content.Id}}',
			data: {
				childList: [
					{{range .Content.Children}}
  	 				  {id: "{{.Id}}", title: "{{.Title}}", visible: false, content: "{{.Content}}" },
					{{end}}
					
				]
			},
			created: function () {
				this.childList[0].visible=true;
			},
			
			methods: {
				tab_click (e) {
					var show_id=e.target.id;
					this.childList.forEach(function (item) {
						if (item.id==show_id) {
							item.visible=true;
						} else {
							item.visible=false;
						}
					});
					
				}
			}
        });
    </script>

	{{end}}


			  
		  </article>
		  {{end}}
		</div>
		
		<div class="column">
		  {{range .current.ContentForPosition "b"}}
		  <article>
          <h2 class="subtitle is-5">{{.Content.Title}}</h2>
          {{.Content.Content}}
		  {{if .Content.ImageUrl}}
		  <figure class="image is-3by2">
		    <img src="{{.Content.ImageUrl}}">
			<div class="is-overlay">
			  <div class="image-text">
				{{.Content.ImageText}}
   			  </div>
			</div>
		  </figure>
		  {{end}}
		  </article>
		  {{end}}
		</div>
				
		<div class="column">
	
		  {{if .current.Parent}}
		  <aside class="menu">
			<p class="menu-label">
			  Se mere
			</p>
			<ul class="menu-list">
			  {{range .current.Parent.Children}}
              <li><a href="{{.AbsSlug}}">{{.Title}}</a>
                <ul>
                  {{range .Children}}
                  <li><a href="{{.AbsSlug}}">{{.Title}}</a>
					<ul>
					  {{range .Children}}
                      <li><a href="{{.AbsSlug}}">{{.Title}}</a>
    				  </li>
					  {{end}}
					</ul>
    			  </li>
                  {{end}}
                </ul>
	    	  </li>
			  {{end}}
			</ul>
		  </aside>
		  {{end}}
		</div>

	  </div>

</div>


<section class="section">
    <div class="container">
	  
	  <div id="app">
		${ message }
	  </div>

    </div>
</section>





    <script>
        var app = new Vue({
          delimiters: ['${', '}'],
          el: '#app',
          data: {
            message: 'You loaded this page on ' + new Date().toLocaleString()
          }
        })
    </script>


    <script>

        document.addEventListener('DOMContentLoaded', () => {

          // Get all "navbar-burger" elements
          const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

          // Check if there are any navbar burgers
          if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach( el => {
              el.addEventListener('click', () => {

                // Get the target from the "data-target" attribute
                const target = el.dataset.target;
                const $target = document.getElementById(target);

                // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                el.classList.toggle('is-active');
                $target.classList.toggle('is-active');

              });
            });
          }

        });

    </script>
{{end}}
